/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

@import "common";


.sc_fs_card__animate summary {
  display: block;
  cursor: pointer;
  position: relative;
  padding: 1em 1em 1em 2em;
}

.sc_fs_card__animate summary:before {
  content: '';
  position: absolute;
  top: 1.5em;
  left: 1em;
  transform: rotate(0);
  transform-origin: .2rem 50%;
  transition: .25s transform ease;
  border: .4rem solid transparent;
  border-left-color: inherit;
}


.sc_fs_card__animate[open] > summary:before {
  transform: rotate(90deg);
}

.sc_fs_card__animate {
  padding: 0;
}

.sc_fs_card__animate .sc_fs_faq__content {
  padding: 0 1em 1em;

  > *:first-child {
    margin-top: 0;
  }
}

.sc_business-logo-wrapper,
.sc_business-image-wrapper {
  margin: 0;
}
